.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-header {
	display: flex;
	gap: 2em;
	color: white;
}

.item {
	display: flex;
	gap: 6px;
	align-items: center;
}

.logo {
	height: 38px;
	width: auto;
}

.phone {
	width: 15px;
}

.button {
	border-radius: 30px;
	padding: 0 15px;
	background: none;
	color: white;
	border: 1px solid white;
	padding: 10px 15px;
}

@media only screen and (max-width: 760px) {
  .right-header {
		display: none;
	}
	.logo {
		height: 30px;
	}
}